*, *::before,*::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
  }

:root {
--accent-color: #ff9900;   /* aws orange*/
--secondary-color: #146eb4; /* light blue*/
--background-black: #232f3e; /*light black */
--foreground-white: #f2f2f2; /*off white */ 
}

body {
    background-color: var(--background-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 50vw;
    background-color: var(--foreground-white);
}